<center>
  <br>
  <h2>Voici les informations concernant cet évènements:</h2>
  <br>
  <br>
      <div class="card" style="max-width: 20rem;">
        <img class="card-img-top" src="<%= @event.img_url %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="event.title text-success"><%= @event.title %></h5>
          <p class="event.description"><%= @event.description %></p>
          <p class="event.location text-success">lieux: <span style="color: #343a40;"><%= @event.location %></span></p>
          <p class="event.price text-success">prix: <span style="color: #343a40;"><%= @event.price %> €</span></p>
          <p class="event.duration text-success">durée: <span style="color: #343a40;"><%= (@event.duration) %> minutes</span></p>
          <p class="event.start_date text-success">Début de l'évènement: <span style="color: #343a40;"><%= @event.start_date %></span></p>
          <p class="event.end_date text-success">Fin de l'évènement: <span style="color: #343a40;"><%= @event.end_date %></span></p>
          <p class="event.administrator.email text-primary">Créateur de l'évènement: <%= @event.administrator.email %></p>
          <% if current_user && !@event.attendees.include?(current_user) && @event.administrator != current_user %>
          <p><%= button_to "S'inscrire", new_event_attendance_path(@event), method: :get, class: "btn btn-dark" %></p>
          <% end %>
          <% if current_user == @event.administrator %>
          <%= link_to "voir la liste des participants", event_attendances_path(@event) %>
          <% end %>
        </div>
      </div>
</center>
